node_modules
npm-debug.log
/.data
/setup-bundle
/dist
/.expo
/.git
/.vscode
/docs
/packages/*web
Dockerfile
Makefile
README.md
config
docker-compose.yml
dump.rdb
/node_modules
/packages/**/node_modules
/packages/bworks-api/server/datasources.local.*
/packages/bworks-api/tempSpreadSheet/excel/generated
/packages/bworks-api/tempSpreadSheet/excel/uploaded
/setup-docker-bundle